$brand-primary: #313232;
$brand-success: #6B993E;
$brand-info: #3498DB;
$brand-warning: #F39C12;
$brand-danger: #E74C3C;
$company-brand-color: #E9278E;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #7b8a8b;
$gray:                   #95a5a6;
$gray-light:             #b4bcc2;
$gray-lighter:           #ecf0f1;

// $body-bg: rgb(235, 234, 234);
$body-bg: #CBCACA;
// $navbar-default-bg: #D2D2D2;
$navbar-default-bg: #444;
$nav-section-border: $gray-lighter;
// $sidebar-bg-color: darken($body-bg, 10%);
$sidebar-bg-color: $navbar-default-bg;

$navbar-height: 51px;
$navbar-default-link-color: #444;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 20%);
$navbar-default-toggle-icon-bar-bg: $company-brand-color;

$btn-success-bg: $company-brand-color;

// $link-color: $company-brand-color;
// $link-color: #1100BB;
$link-color: #415b76;
$dropdown-link-color: lighten($gray-base, 20%);

//----------------------------------------------------------
// Pagination
$pagination-color:                     $gray-dark;
$pagination-bg:                        #fff;
$pagination-border:                    $gray-lighter;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $company-brand-color;
$pagination-active-border:             $pagination-border;

$pagination-hover-color:               $pagination-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              $pagination-border;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               $pagination-bg;
$pagination-disabled-border:           $pagination-border;
//----------------------------------------------------------

// NOTE: Always import this last so that overrideable values can be redefined above
@import "../themes/flatly/variables";

$sidebar-pill-bg-color: $component-active-bg;
