@import "../../bower_components/hotrod-charts/lib/styles";
@import "../../bower_components/hotrod-timepicker/lib/timepicker";
@import "../../components/home/home";
@import "../../components/sidebar/sidebar";

$brand-primary: #313232;
$brand-success: #6B993E;
$brand-info: #3498DB;
$brand-warning: #F39C12;
$brand-danger: #E74C3C;
$company-brand-color: #E9278E;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #7b8a8b;
$gray:                   #95a5a6;
$gray-light:             #b4bcc2;
$gray-lighter:           #ecf0f1;

// $body-bg: rgb(235, 234, 234);
$body-bg: #CBCACA;
// $navbar-default-bg: #D2D2D2;
$navbar-default-bg: #444;
$nav-section-border: $gray-lighter;
// $sidebar-bg-color: darken($body-bg, 10%);
$sidebar-bg-color: $navbar-default-bg;

$navbar-height: 51px;
$navbar-default-link-color: #444;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 20%);
$navbar-default-toggle-icon-bar-bg: $company-brand-color;

.cmp-login {
  .logo-wrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  form {
    margin-bottom: 12px;
    .form-group.password {
      margin-bottom: 25px;
    }
  }
}

.navbar-default {
  .navbar-brand {
    color: #fff;
  }
  .btn-link.btn-status-offline {
    color: $brand-danger !important;
  }
}

.navbar-fixed-top {
  background-color: #FFF;
  border-bottom: 3px solid $company-brand-color !important;
  //.glyphicon-time,
  //.glyphicon-stats,
  //.glyphicon-user {
  //  color: $company-brand-color;
  //}
  .navbar-brand {
    color: $company-brand-color;
    img.logo {
      width: 23px;
      height: 28px;
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

$btn-success-bg: $company-brand-color;

.panel-table {
  border: solid 1px $gray-light !important;
  th a.hotrod-sort {
    font-weight: normal !important;
  }
}

.section-title.text-muted {
  color: #fff !important;
}

// $link-color: $company-brand-color;
// $link-color: #1100BB;
$link-color: #415b76;
$dropdown-link-color: lighten($gray-base, 20%);

//----------------------------------------------------------
// Pagination
$pagination-color:                     $gray-dark;
$pagination-bg:                        #fff;
$pagination-border:                    $gray-lighter;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $company-brand-color;
$pagination-active-border:             $pagination-border;

$pagination-hover-color:               $pagination-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              $pagination-border;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               $pagination-bg;
$pagination-disabled-border:           $pagination-border;
//----------------------------------------------------------

@import "../themes/flatly/variables";

@include hotrod-timepicker($navbar-height, $navbar-default-bg, $text-color, $navbar-default-bg, $nav-section-border, $border-right: none, $border-left: none,
  $border-bottom: solid 3px $navbar-default-bg);
@include hotrod-data-table($multisort-dir-color: $company-brand-color, $th-color: $link-color);

// Note: $navbar-height + 1px so top border can be seen
// #6F7171
// $sidebar-pill-bg-color: #6F7171;
$sidebar-pill-bg-color: $component-active-bg;
@include cmp-sidebar($sidebar-bg-color, $component-active-color, $sidebar-pill-bg-color, $company-brand-color, $navbar-height + 1px, $screen-sm, $navbar-default-bg, $nav-section-border);
@include cmp-home($brand-success, $brand-warning);
